@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.input {
  @apply w-full border-gray-500 appearance-none border p-4 font-light leading-tight;
}

.form-error {
  @apply text-red text-sm;
}
