@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.form-input {
  @apply w-full border-gray-500 appearance-none border p-4 font-light leading-tight;
}

.form-label {
  @apply block font-light mb-2 capitalize;
}

.submit-button {
  @apply bg-indigo-600 text-white font-light py-2 px-6 rounded uppercase;
}

.submit-button:hover {
  @apply bg-blue-700;
}

.submit-button:focus {
  @apply outline-none shadow-outline;
}

.submit-button:disabled {
  @apply opacity-50;
}

.form-error {
  @apply text-red text-sm;
}

.form-submit {
  @apply bg-indigo-600 text-white font-light py-2 px-6 rounded;
}

.form-submit:hover {
  @apply bg-blue-700 outline-none shadow-outline;
}

.form-submit:disabled {
  @apply opacity-50;
}
