.avatar {
  @apply w-16 h-16 mr-8 bg-gray-700 rounded-full overflow-hidden relative;
}

.text {
  @apply flex-grow h-8 bg-gray-700 overflow-hidden relative;
}

.text:before {
  content: '';
  left: -150px;
  background: linear-gradient(
    to right,
    theme('colors.gray.700') 0%,
    theme('colors.gray.600') 50%,
    theme('colors.gray.700') 100%
  );
  animation: load 1.5s infinite linear;
  @apply block absolute w-64 h-full;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 120%;
  }
}
