.container {
  @apply flex items-center justify-start text-sm p-8 bg-gray-800 border border-gray-900 rounded-lg text-white;
}
.avatar {
  @apply w-full h-full rounded-full;
}
.name {
  @apply text-2xl leading-none;
}

.avatarPlaceholder {
  @apply w-16 h-16 mr-8 bg-gray-700 rounded-full overflow-hidden relative;
}

.namePlaceholder {
  @apply flex-grow h-8 bg-gray-700 overflow-hidden relative;
}

.namePlaceholder:before {
  content: '';
  left: -150px;
  background: linear-gradient(
    to right,
    theme('colors.gray.700') 0%,
    theme('colors.gray.600') 50%,
    theme('colors.gray.700') 100%
  );
  animation: load 1.5s infinite linear;
  @apply block absolute w-64 h-full;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 120%;
  }
}
